*{
    margin:0px;
    padding:0px;
    text-align: center;  
}
header{
    background-color: black;
    padding: 10px;
    font-size: 1.3em;
    color: #f0c400;
}
header>p{
    color: #dddddd;
    font-weight: bolder;
    font-size: 1.3rem;
}
body{
     background-color: #222222;
     font: normal 1.1em Cambria,Cochin, serif;
     color: #ffffff;
}
h2{
    font-size: 1.6em;
    padding: 15px;
}
h3{
    padding: 20px;
    font-size: 1.6em;
}
p{
    padding: 10px;
}
a{
    color: #ffffff;   
}
li{
    font-size: 20px;
    padding:4px 0px 4px 0px;
    list-style: none;
    text-align: left;
}
ul{
    display: inline-block;
    width: 40vw;
    
}
.apresentacao{
    height:350px;
    background-size: cover;
    
    margin: auto;
    background-position: center center;
}
.cardapio{
    background-size:cover; 
    background-position: center center; 
    background-attachment: fixed;
    text-align: center;
    margin: auto;
    box-shadow: inset 2px 3px 5px #030303;
    text-shadow: 1px 2px 2px black;
    padding-bottom: 15px;
}
#quemsomos{    
    padding-bottom: 30px;
    max-width: 90vw ;
    margin: auto;

}
.nomes{
    text-align: left;
    margin-right: 1.5vw;
}
.valor{
    margin-left: 1.5vw;
    text-align: right;
}

#restaurante{
    background-image: url(archives/restaurante.png) ;
}
#petiscos{
    background-image: url(archives/petiscos.jpg);
    margin-bottom: 50px;
    
}
#drinks{
    background-image: url(archives/corona.jpg);
}
footer{
    background-color: black;
    font-weight: bold;
}