*{
    margin:0px;
    padding:0px;
    text-align: center;  
}
header{
    background-color: black;
    padding: 10px;
    font-size: 1.3em;
    color: #f0c400;
}
header>p{
    color: #dddddd;
    font-weight: bolder;
    font-size: 1.3rem;
}
body{
     background-color: #222222;
     font: normal 1.1em Cambria,Cochin, serif;
     color: #ffffff;
}
h2{
    font-size: 1.6em;
    padding: 15px;
}
h3{
    padding: 20px;
    font-size: 1.6em;
}
p{
    padding: 10px;
}
a{
    color: #ffffff;   
}
li{
    text-align: left;
    font-size: 20px;
    padding: 6px;
    margin-left: 40px;
    list-style: none;
}
span{
    position:absolute;
    right: 10%;
}
.apresentacao{
    height:350px;
    background-size: cover;
    
    margin: auto;
    background-position: center center;
}
.cardapio{
    background-size:cover; 
    background-position: center center; 
    background-attachment: fixed;
     
    margin: auto;
    box-shadow: inset 2px 3px 5px #030303;
    text-shadow: 1px 2px 2px black;
}
#quemsomos{    
    padding-bottom: 30px;
    max-width: 600px;
    margin: auto;

}
#restaurante{
    background-image: url(archives/restaurante2.jpg) ;
}
#petiscos{
    background-image: url(archives/petiscos2.jpg);
    margin-bottom: 70px;
    
}
#drinks{
    background-image: url(archives/corona.jpg);
}
footer{
    background-color: black;
    font-weight: bold;
}